
<% layout("layouts/boilerplate") %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1 class="m-3">All Spots</h1>


<div class="container">
  <div class="spot-grid">
    <% for (let spot of spots) { %>
      <div class="spot-card">
        <img class="spot-img" src="<%= spot.images[0].url.replace('/upload/', '/upload/w_400/') %>" alt="Image of <%= spot.title %>">
        <div class="spot-content">
          <h5><%= spot.title %></h5>
          <p><%= spot.description %></p>
          <p class="text-muted"><%= spot.location %></p>
          <a class="btn btn-primary" href="/spots/<%= spot._id %>">View <%= spot.title %></a>
        </div>
      </div>
    <% } %>
  </div>
</div>


<!-- show cluster map -->
<script>
  const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
  const spots = { features: <%- JSON.stringify(spots) %> }
</script>
<script src="/js/clusterMap.js"></script>
